{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Simpson's Lecture Note {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main
  class="bg-gray-100 py-8"
  style="
    background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');
  "
>
  <div class="container mx-auto flex flex-col md:flex-row justify-center">
    <div class="w-full md:w-1/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-4">
        <h3 class="text-lg font-bold mb-4">SIMPSON'S RULE</h3>
        <hr class="mb-4" />
        <ul class="space-y-4">
          <li>
            <a
              href="/open/simpsonbackground"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Background</a
            >
          </li>
          <li>
            <a
              href="/open/simpson/lecturenote"
              class="block text-gray-700 bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/open/simpson/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          <li>
            <a
              href="/open/simpson/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/open/simpson/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/open/simpson/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">LECTURE NOTE</h3>
          </div>
          <div class="mx-auto">  
            <swiper-container class="mySwiper" navigation="true">
              <swiper-slide>
                <img
                  src="{{url_for('static', filename='SimpsonsImage1.jpg.png')}}"
                  alt="bis-img1"
                /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                  src="{{url_for('static', filename='SimpsonsImage2.jpg.png')}}"
                  alt="bis-pseudocode1"
                /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage3.jpg.png')}}"
                alt="bis-pseudocode2"
              /><br />
              </swiper-slide>

              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage4.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage5.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage6.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage7.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage8.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage9.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage10.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage11.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage12.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage13.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage14.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage15.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage16.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage17.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage18.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage19.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage20.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage21.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage22.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage23.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage24.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage25.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage26.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage27.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage28.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage29.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage30.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
              <swiper-slide>
                <img
                src="{{url_for('static', filename='SimpsonsImage31.jpg.png')}}"
                alt="bis-pseudocode3"
              /><br />
              </swiper-slide>
            </swiper-container>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}
