{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Home {% endblock title %}</h2>
{% endblock header %} {% block content %}
<style>
  @import url("https://fonts.googleapis.com/css2?family=Urbanist:ital,wght@0,100..900;1,100..900&display=swap");
  * {
    margin: 0;
    text-decoration: none;
    list-style: none;
    font-family: cursive;
  }

  header {
    background-color: #323754;
    font-size: 16px;
    position: relative;
    display: flex;
    max-width: 100%;
    justify-content: space-between;
    align-items: center;
    padding-left: 5%;
    padding-right: 5%;
  }

  .navbarleft {
    display: flex;
    align-items: center;
    position: relative;
  }

  .navbarright {
    display: flex;
    align-items: center;
    position: relative;
  }

  .navlinks li {
    list-style: none;
    display: inline-block;
    font-size: 13px;
    font-weight: 600;
    padding: 10px 20px;
  }

  .navlinks li a {
    margin: 0 1.25rem;
    line-height: 3.125rem;
    letter-spacing: 0.5px;
    color: white;
  }

  .logo {
    font-size: 30px;
    font-weight: 600;
  }

  .logo a {
    color: white;
  }

  .searchbar {
    background-color: rgba(0, 0, 0, 0.2);
    height: 1.875rem;
    box-sizing: border-box;
    color: hsla(0, 0%, 100%, 0.6);
    border: 0;
    border-right: 0;
    width: 264px;
    padding: 0 0 0 0.625rem;
    margin: 0;
    font-size: 14px;
    outline: 0;
    border-radius: 3px;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
  }

  .button .login {
    font-size: 0.875rem;
    color: hsla(200, 6%, 90%, 0.75);
    text-decoration: none;
    font-weight: 600;
    line-height: 3.125rem;
    height: 3.125rem;
    margin: 5px;
    display: block;
    position: relative;
  }

  .button .signup:hover {
    color: #fff;
    background-color: #f60;
  }

  .button .signup {
    font-size: 0.875rem;
    font-weight: 600;
    border: 1px solid #f60;
    border-radius: 0.3125rem;
    box-sizing: border-box;
    color: #f60;
    padding: 0.25rem 0.625rem;
    line-height: 1.875rem;
    height: 1.875rem;
    margin: 0.625rem;
    -webkit-transition: 0.3s;
    transition: 0.3s;
  }

  .button {
    cursor: pointer;
  }
  /* MAIN */

  .main-container {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 80px;
  }

  .main-container .practice-left {
    height: auto;
  }

  .left-container .title {
    margin: 30px 0;
    text-transform: capitalize;
    font-size: 24px;
    color: #252c33;
    font-weight: 300;
  }

  .left-container .tracks-container {
    margin-bottom: 16px;
  }

  .left-container .tracks-container .top {
    display: flex;
    flex-wrap: wrap;
  }

  .left-container .tracks-container .top .card-wrapper {
    min-height: 175px;
  }

  .left-container .tracks-container .card-wrapper {
    width: 310px;
    background-color: #fff;
    margin: 0 12px 24px 0;
    border-radius: 8px;
    box-shadow: 0 1px 1px 0 rgba(159, 167, 194, 0.4);
    position: relative;
    transition: all 0.5s;
  }

  .left-container .tracks-container .card-wrapper:hover {
    box-shadow: 0 0 20px 0px rgba(0, 0, 0, 0.2);
  }

  .left-container .tracks-container .card-wrapper a {
    text-decoration: none;
  }

  .pointer,
  a {
    cursor: pointer;
  }

  .left-container .tracks-container .card-wrapper .card {
    display: flex;
    padding: 12px 8px;
    box-sizing: border-box;
    margin-bottom: 70px;
  }

  .left-container .tracks-container .card-wrapper .card .left {
    width: 65px;
    margin: 0 auto;
  }

  .left-container .tracks-container .card-wrapper .card .left img {
    margin: 10px;
    width: 40px;
  }

  user agent stylesheet img {
    overflow-clip-margin: content-box;
    overflow: clip;
  }

  .left-container .tracks-container .card-wrapper .card .right .card-title {
    font-size: 22px;
    font-weight: 600;
    color: #46535e;
    line-height: 32px;
  }

  .left-container .tracks-container .card-wrapper .card .right .card-desc {
    font-size: 12px;
    color: #9ca3a8;
    line-height: 18px;
    margin-top: 4px;
  }

  .main-container .practice-right {
    box-sizing: border-box;
    background: #e5e7e8;
    height: 100%;
    width: 300px;
  }

  .right-container {
    margin-top: 24px;
    padding: 20px;
  } 

  .practice-page {
    background: linear-gradient(270deg, #ebedee 50%, #ebedee 0);
  }

  .practice-page .layout-container {
    position: relative;
    font-family: Open Sans, Helvetica, Arial, sans-serif;
    box-sizing: border-box;
    max-width: 1280px;
    margin: 0 auto;
    min-height: 100vh;
    width: 100%;
  }
  
  
  /*FOOTER*/

  .footer-section {
    background-color: #091e5c;
  }

  .fixed-container {
    max-width: 1280px;
    margin: auto;
    box-sizing: content-box;
  }

  .footer-container .primary {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: space-between;
    align-items: flex-start;
    align-content: center;
    padding-top: 50px;
    padding-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
  }

  @media only screen and (min-width: 758px) {
    .primary {
      flex-direction: row;
      padding-left: 20px;
      padding-right: 20px;
    }
  }

  .footer-container .primary ul {
    padding: 0;
  }

  user agent stylesheet ul {
    display: block;
    list-style-type: disc;
    margin-block-start: 1em;
    margin-block-end: 1em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    padding-inline-start: 40px;
    unicode-bidi: isolate;
  }

  .footer-container .primary .section-heading {
    font-family: Hack Bold;
    font-size: 1rem;
    line-height: 1.2rem;
    color: #fff;
    font-weight: 600;
  }

  .footer-container .primary ul li {
    display: block;
    font-family: Proxima Nova;
    font-size: 16px;
    line-height: 30px;
    color: #dbdbdb;
    cursor: pointer;
  }

  .primary ul li a {
    color: #dbdbdb;
  }

  .footer-container .secondary {
    text-align: center;
    background-color: #05133c;
    padding-top: 15px;
    padding-bottom: 15px;
    line-height: 26px;
  }

  .footer-container .secondary a {
    text-decoration: none;
    color: inherit;
  }

  .footer-container .secondary li {
    display: inline-block;
    font-weight: 500;
    font-family: Proxima Nova;
    font-size: 0.875rem;
    line-height: 1rem;
    color: #999;
  }

  .footer-container .primary .social-icon-container {
    flex-wrap: nowrap;
    align-items: stretch;
    align-content: stretch;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-bottom: 20px;
  }

  .footer-container .primary .social-icon-container i {
    height: 20px;
    width: 11px;
    color: #848ead;
    font-size: 25px;
    margin-right: 30px;
  }

  .logo1 {
    font-size: 60px;
    font-weight: 600;
  }

  .logo1 a {
    color: white;
  }
</style>

<main class="layout-container">
  <div class="main-container">
    <div class="practice-left">
      <div class="left-container">
        <div class="title">Finding the root of an equation using</div>
        <div class="tracks-container">
          <div class="top">
            <div class="card-wrapper">
              <a href="/bracketing">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='basic-programming@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Bracketing Method</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='data-structures@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Newton Raphson's Method</div>
                    <div class="card-desc">
                      Smooth sailing with the Newton Raphson's method!
                      Questions? We've got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='CodeMonk-Icon-Small.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Secant Method</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
          </div>
          <div class="title">Numerical Integration Method</div>
          <div class="top">
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='algorithms@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Simpson's 1/3 rule</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='machine-learning@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Simpson's 3/8 rule</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img src="{{url_for('static', filename='math@2x.png')}}" />
                  </div>
                  <div class="right">
                    <div class="card-title">Trapezoidal Rule</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
          </div>
          <div class="title">Numerical Differentiation Method</div>
          <div class="top">
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='data-structures@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">Lagrangian Method</div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img
                      src="{{url_for('static', filename='basic-programming@2x.png')}}"
                    />
                  </div>
                  <div class="right">
                    <div class="card-title">
                      Newton Forward Difference Method
                    </div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
            <div class="card-wrapper">
              <a href="#">
                <div class="card">
                  <div class="left">
                    <img src="{{url_for('static', filename='Graduate.png')}}" />
                  </div>
                  <div class="right">
                    <div class="card-title">
                      Newton Backward Difference Method
                    </div>
                    <div class="card-desc">
                      Smooth sailing with the bisection method! Questions? We've
                      got answers. Happy computing!
                    </div>
                  </div>
                </div>
                <div class="progress"></div>
              </a>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>

{% endblock content %}
