{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Home {% endblock title %}</h2>
{% endblock header %} {% block content %}
<style>
.tab-link.active {
    border-color: #1a202c;
    color: #1a202c;
}

.tab-link {
    color: #718096;
}

.tab-link:hover {
    border-color: #cbd5e0;
}

.tab-content.hidden {
    display: none;
}
</style>
<main
    class="bg-white min-h-screen py-8 flex"
    style="
        background-image: url(&quot;https://www.transparenttextures.com/patterns/inflicted.png&quot;);
    "
>
    <div class="container mx-auto px-4">
        <!-- Tabs Navigation -->
        <div
            class="border-b border-gray-200 dark:border-gray-700 mb-8 bg-white shadow-sm rounded-xl"
        >
            <ul
                class="flex flex-wrap -mb-px text-sm font-medium text-center text-gray-500 dark:text-gray-400"
            >
                <li class="me-2">
                    <a
                        href="#non-linear"
                        class="tab-link active inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:border-gray-300 dark:hover:text-gray-300 group"
                    >
                        <svg
                            class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M10 0a10 10 0 1 0 10 10A10.011 10.011 0 0 0 10 0Zm0 5a3 3 0 1 1 0 6 3 3 0 0 1 0-6Zm0 13a8.949 8.949 0 0 1-4.951-1.488A3.987 3.987 0 0 1 9 13h2a3.987 3.987 0 0 1 3.951 3.512A8.949 8.949 0 0 1 10 18Z"
                            /></svg
                        >Non-Linear Systems
                    </a>
                </li>
                <li class="me-2">
                    <a
                        href="#numerical-calculus"
                        class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:border-gray-300 dark:hover:text-gray-300 group"
                    >
                        <svg
                            class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 18 18"
                        >
                            <path
                                d="M6.143 0H1.857A1.857 1.857 0 0 0 0 1.857v4.286C0 7.169.831 8 1.857 8h4.286A1.857 1.857 0 0 0 8 6.143V1.857A1.857 1.857 0 0 0 6.143 0Zm10 0h-4.286A1.857 1.857 0 0 0 10 1.857v4.286C10 7.169 10.831 8 11.857 8h4.286A1.857 1.857 0 0 0 18 6.143V1.857A1.857 1.857 0 0 0 16.143 0Zm-10 10H1.857A1.857 1.857 0 0 0 0 11.857v4.286C0 17.169.831 18 1.857 18h4.286A1.857 1.857 0 0 0 8 16.143v-4.286A1.857 1.857 0 0 0 6.143 10Zm10 0h-4.286A1.857 1.857 0 0 0 10 11.857v4.286c0 1.026.831 1.857 1.857 1.857h4.286A1.857 1.857 0 0 0 18 16.143v-4.286A1.857 1.857 0 0 0 16.143 10Z"
                            /></svg
                        >Numerical Calculus
                    </a>
                </li>
                <li class="me-2">
                    <a
                        href="#linear-systems"
                        class="tab-link inline-flex items-center justify-center p-4 border-b-2 border-transparent rounded-t-lg hover:border-gray-300 dark:hover:text-gray-300 group"
                    >
                        <svg
                            class="w-4 h-4 me-2 text-gray-400 group-hover:text-gray-500 dark:text-gray-500 dark:group-hover:text-gray-300"
                            aria-hidden="true"
                            xmlns="http://www.w3.org/2000/svg"
                            fill="currentColor"
                            viewBox="0 0 20 20"
                        >
                            <path
                                d="M5 11.424V1a1 1 0 1 0-2 0v10.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.228 3.228 0 0 0 0-6.152ZM19.25 14.5A3.243 3.243 0 0 0 17 11.424V1a1 1 0 0 0-2 0v10.424a3.227 3.227 0 0 0 0 6.152V19a1 1 0 1 0 2 0v-1.424a3.243 3.243 0 0 0 2.25-3.076Zm-6-9A3.243 3.243 0 0 0 11 2.424V1a1 1 0 0 0-2 0v1.424a3.228 3.228 0 0 0 0 6.152V19a1 1 0 1 0 2 0V8.576A3.243 3.243 0 0 0 13.25 5.5Z"
                            /></svg
                        >Linear Systems
                    </a>
                </li>
            </ul>
        </div>

        <!-- Non-Linear Systems Section -->
        <section id="non-linear" class="tab-content">
            <section class="mb-12 mt-12">
                <div
                    class="grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
                >
                    <!-- Card 1: Newton's Method -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcRMx_0bRRV7jOVaPGUnmu4KmzIGRRM8dc9JqQ&s"
                            alt="Bisection Method"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Bisection Method
                            </h2>
                            <p class="mt-2 text-gray-600">
                                The Bisection Method is a root-finding method
                                that repeatedly bisects an interval and then
                                selects a subinterval in which a root must lie
                                for further processing.
                            </p>
                            <a
                                href="/bracketing/bisectionbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 3: False Position Method -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/uploads/falsepos.jpg"
                            alt="False Position Method"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                False Position Method
                            </h2>
                            <p class="mt-2 text-gray-600">
                                The False Position Method is a root-finding
                                method that combines elements of the Bisection
                                Method and linear interpolation.
                            </p>
                            <a
                                href="/bracketing/falsepositionbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 2: Newton's Method -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20220301170916/Newtons-Method-for-Solving-Nonlinear-Equations.jpg"
                            alt="Newton's Method"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Newton's Method
                            </h2>
                            <p class="mt-2 text-gray-600">
                                Newton's Method is a root-finding algorithm that
                                uses the first few terms of the Taylor series of
                                a function to approximate its roots.
                            </p>
                            <a
                                href="/openmethods/newtonbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- Numerical Calculus Section -->
        <section id="numerical-calculus" class="tab-content hidden">
            <section class="mb-12 mt-12">
                <div
                    class="grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
                >
                    <!-- Card 1: Trapezoidal Rule -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://www.freecodecamp.org/news/content/images/2021/11/trap.png"
                            alt="Trapezoidal Rule"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Trapezoidal Rule
                            </h2>
                            <p class="mt-2 text-gray-600">
                                The Trapezoidal Rule is a technique for
                                approximating the definite integral of a
                                function by averaging the areas of trapezoids.
                            </p>
                            <a
                                href="/numericalcalculus/trapezoidalbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 2: Simpson's Rule -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/uploads/Simpsons-13-Rule-for-Numerical-Integration.jpg"
                            alt="Simpson's Rule"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Simpson's Rule
                            </h2>
                            <p class="mt-2 text-gray-600">
                                Simpson's Rule is a method for numerical
                                integration that approximates the integral of a
                                function by fitting parabolas to segments of the
                                curve.
                            </p>
                            <a
                                href="/numericalcalculus/simpsonbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 3: Finite Difference -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/uploads/20210802155529/Central-Finite-Difference-Method.jpg"
                            alt="Finite Difference"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Finite Difference
                            </h2>
                            <p class="mt-2 text-gray-600">
                                The Finite Difference Method is used for
                                solving differential equations by approximating
                                them with difference equations.
                            </p>
                            <a
                                href="/differentiation/finitebackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </section>

        <!-- Linear Systems Section -->
        <section id="linear-systems" class="tab-content hidden">
            <section class="mb-12 mt-12">
                <div
                    class="grid gap-3 grid-cols-1 sm:grid-cols-2 lg:grid-cols-3"
                >
                    <!-- Card 1: Gaussian Elimination -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/20220307180338/WhatsAppImage2022-03-07at6.02.42PM.jpeg"
                            alt="Gaussian Elimination"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Gaussian Elimination
                            </h2>
                            <p class="mt-2 text-gray-600">
                                Gaussian Elimination is a method for solving
                                linear systems by transforming the system's
                                augmented matrix into a row-echelon form.
                            </p>
                            <a
                                href="/linearsystems/gaussianbackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 2: LU Decomposition -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/LU-Decomposition-of-a-System-of-Linear-Equations.jpg"
                            alt="LU Decomposition"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                LU Decomposition
                            </h2>
                            <p class="mt-2 text-gray-600">
                                LU Decomposition is a method of solving linear
                                systems by decomposing a matrix into a lower
                                triangular matrix and an upper triangular
                                matrix.
                            </p>
                            <a
                                href="/linearsystems/lubackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>

                    <!-- Card 3: Jacobi Iterative Method -->
                    <div
                        class="bg-white rounded-lg shadow-lg transform hover:scale-105 transition duration-300 max-w-lg mx-auto"
                    >
                        <img
                            class="w-full h-48 object-cover rounded-t-lg"
                            src="https://media.geeksforgeeks.org/wp-content/cdn-uploads/Jacobi-Iterative-Method.jpg"
                            alt="Jacobi Iterative Method"
                        />
                        <div class="p-4">
                            <h2 class="text-lg font-semibold text-gray-800">
                                Jacobi Iterative Method
                            </h2>
                            <p class="mt-2 text-gray-600">
                                The Jacobi Iterative Method is an algorithm for
                                determining the solutions of a diagonally
                                dominant system of linear equations.
                            </p>
                            <a
                                href="/linearsystems/jacobibackground"
                                class="text-blue-500 hover:underline"
                                >Learn More</a
                            >
                        </div>
                    </div>
                </div>
            </section>
        </section>
    </div>
</main>
<script>
document.addEventListener('DOMContentLoaded', function () {
    const tabLinks = document.querySelectorAll('.tab-link');
    const tabContents = document.querySelectorAll('.tab-content');

    tabLinks.forEach((link) => {
        link.addEventListener('click', function (e) {
            e.preventDefault();
            tabLinks.forEach((link) => {
                link.classList.remove('active');
            });
            link.classList.add('active');
            const target = link.getAttribute('href').substring(1);
            tabContents.forEach((content) => {
                if (content.getAttribute('id') === target) {
                    content.classList.remove('hidden');
                } else {
                    content.classList.add('hidden');
                }
            });
        });
    });
});
</script>
{% endblock content %}
