{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Forward Difference {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-36">
        {% include("/pages/numerical calculus/forward difference/_sidebar.html") %}
    </div>
    <div class="w-full md:w-3/4 p-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
          <div class="container mx-auto">
            <div class="mb-6">
                <h3 class="text-2xl font-semibold">BACKGROUND</h3>
              </div>
              <div>
                <p class="text-xl font-semibold text-red-600 mb-4">
                  Forward Difference Technique
                </p>
                <p class="mb-4">
                  The forward difference method is a numerical technique used to 
                  approximate derivatives of functions. It estimates the derivative
                  of a function \( y \) at a point \( t_n \) using values at \( t_n \)
                  and \( t_{n+1} \). The forward difference approximation for the first 
                  derivative is given by:

                  \[
                  \frac{dy}{dt} \approx \frac{y_{n+1} - y_n}{\Delta t}
                  \]

                  where \( \Delta t \) is the step size. This method is straightforward to 
                  implement and computationally efficient, making it suitable for many 
                  applications. However, it can be less stable than implicit methods, 
                  especially for stiff problems. The forward difference method is commonly 
                  used in explicit time-stepping schemes for solving ordinary differential 
                  equations and is also applicable in numerical differentiation and finite 
                  difference methods for partial differential equations. Its simplicity comes 
                  with the trade-off of potential numerical instability and truncation errors.<br>
                <h2 class='text-center font-bold underline'>GRAPH FOR FORWARD DIFFERENCE METHOD</h2><BR>
                <img
              src="{{url_for('static', filename='forwardpic.png')}}"
              alt="bis-graph" class='mx-auto'
            />
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}
