{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Forward Difference Example {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">FORWARD DIFFERENCE</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/numerical calculus/forwardbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/example"
              class="block text-gray-700 bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/numerical calculus/forward difference/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">EXAMPLE</h3>
          </div><br><br>
          <div class="background flex flex-wrap justify-center">
            <p> Use step sizes (a) \( h = 0.1 \) and \( k = 0.0005 \) and (b) \( h = 0.1 \) and \( k = 0.01 \) to approximate the solution to the heat equation:</p>

<p>\( \frac{\partial u}{\partial t} (x, t) - \frac{\partial^2 u}{\partial x^2} (x, t) = 0, \quad 0 < x < 1, \quad 0 <br> \leq t,  \) </p>

  <p>with boundary conditions:</p>



\[ u(0, t) = u(1, t) = 0, \quad 0 < t, \]

<p>and initial conditions:</p>

\[ u(x, 0) = \sin(\pi x), \quad 0 \leq x \leq 1. \]

<p>Compare the results at \( t = 0.5 \) to the exact solution:</p>

\[ u(x, t) = e^{-\pi^2 t} \sin(\pi x). \]

<p>Solution:</p>

<p>(a) Forward-Difference method with \( h = 0.1 \), \( k = 0.0005 \) and \( \lambda = \left(\frac{1^2 \cdot 0.0005}{(0.1)^2}\right) = 0.05 \) gives the results in the third column of Table 12.3. As can be seen from the fourth column, these results are quite accurate.</p>

<p>(b) Forward-Difference method with \( h = 0.1 \), \( k = 0.01 \) and \( \lambda = \left(\frac{1^2 \cdot 0.01}{(0.1)^2}\right) = 1 \) gives the results in the fifth column of Table 12.3. As can be seen from the sixth column, these results are less accurate.</p>


          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}