{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Forward Difference Exercise {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8 mb-10" style="
    background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');
  ">
    <div class="container mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">FORWARD DIFFERENCE</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/numerical calculus/forwardbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>        
          <li>
            <a
              href="/numerical calculus/forward difference/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/forward difference/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">EXERCISE</h3>
          </div>
          <div><br>
            
    <ol>
      <li> 1.   Use the Bisection method to find \( p_3 \) for \( f(x) = \sqrt{x} - \cos x \) on \([0, 1]\).</li><br>

      <li> 2.   Let \( f(x) = 3(x + 1)\left(x - \frac{1}{2}\right)(x - 1) \). Use the Bisection method on the following intervals to find \( p_3 \).
          <ul>
              <li>(a) \([-2, 1.5]\)</li>
              <li>(b) \([-1.25, 2.5]\)</li>
          </ul>
      </li>

      <li>3.  Use the Bisection method to find solutions accurate to within \( 10^{-2} \) for \( x^3 - 7x^2 + 14x - 6 = 0 \) on each interval.
          <ul>
              <li>(a) \([0, 1]\)</li>
              <li>(b) \([1, 3.2]\)</li>
              <li>(c) \([3.2, 4]\)</li>
          </ul>
      </li>

      <li><h3>4.  </h3>Use the Bisection method to find solutions accurate to within \( 10^{-2} \) for \( x^4 - 2x^3 - 4x^2 + 4x + 4 = 0 \) on each interval.
          <ul>
              <li>(a) \([-2, -1]\)</li>
              <li>(b) \([0, 2]\)</li>
              <li>(c) \([2, 3]\)</li>
              <li>(d) \([-1, 0]\)</li>
          </ul>
      </li>

      <li><h3>5</h3>Use the Bisection method to find solutions accurate to within \( 10^{-5} \) for the following problems.
          <ul>
              <li>(a) \( x - 2^{-x} = 0 \) for \( 0 \leq x \leq 1 \)</li>
              <li>(b) \( e^x - x^2 + 3x - 2 = 0 \) for \( 0 \leq x \leq 1 \)</li>
              <li>(c) \( 2x \cos(2x) - (x + 1)^2 = 0 \) for \( -3 \leq x \leq -2 \) and \( -1 \leq x \leq 0 \)</li>
              <li>(d) \( x \cos x - 2x^2 + 3x - 1 = 0 \) for \( 0.2 \leq x \leq 0.3 \) and \( 1.2 \leq x \leq 1.3 \)</li>
          </ul>
      </li>

      <li><h3>6</h3>Use the Bisection method to find solutions accurate to within \( 10^{-5} \) for the following problems.
          <ul>
              <li>(a) \( 3x - e^x = 0 \) for \( 1 \leq x \leq 2 \)</li>
              <li>(b) \( 2x + 3 \cos x - e^x = 0 \) for \( 0 \leq x \leq 1 \)</li>
              <li>(c) \( x^2 - 4x + 4 - \ln x = 0 \) for \( 1 \leq x \leq 2 \) and \( 2 \leq x \leq 4 \)</li>
              <li>(d) \( x + 1 - 2 \sin (\pi x) = 0 \) for \( 0 \leq x \leq 0.5 \) and \( 0.5 \leq x \leq 1 \)</li>
          </ul>
      </li>
  </ol>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}