{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Fixed Point Method {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-36">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">JACOBI METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/linear systems/ludecompbackground" class="block text-gray-700 bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/linear systems/jacobi/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/linear systems/jacobi/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/linear systems/jacobi/solve"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Solution Finder</a
            >
          </li>
         
          <li>
            <a
              href="/linear systems/jacobi/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/linear systems/jacobi/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
          <div class="container mx-auto">
            <div class="mb-6">
                <h3 class="text-2xl font-semibold">BACKGROUND</h3>
              </div>
              <div>                
                  The Jacobi method is an iterative technique used to solve 
                  systems of linear equations. Named after the German 
                  mathematician Carl Gustav Jacob Jacobi, the method is based 
                  on the idea of decomposing a matrix into its diagonal, lower, 
                  and upper components. By isolating the diagonal elements, the 
                  Jacobi method approximates the solution of the system through 
                  successive iterations. Each iteration refines the solution by 
                  assuming the values from the previous iteration. The method is 
                  particularly useful for large, sparse matrices where direct methods 
                  like Gaussian elimination are computationally expensive. However, 
                  it requires the matrix to be diagonally dominant or strictly 
                  diagonally dominant for guaranteed convergence. Despite its 
                  simplicity, the Jacobi method is often less efficient compared 
                  to more advanced iterative techniques but remains a foundational 
                  approach in numerical linear algebra.
                
                
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}