{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Backward Difference Method {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-36">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">BACKWARD DIFF</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/numerical calculus/backwardbackground" class="block text-gray-700 bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/numerical calculus/backward difference/solve"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
                href="/numerical calculus/backward difference/practice"
                class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
                >Practice</a
            >
        </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
          <div class="container mx-auto">
            <div class="mb-6">
                <h3 class="text-2xl font-semibold"> BACKWARD DIFFERENCE</h3>
              </div>
              <div>
                <p class="text-xl font-semibold text-red-600 mb-4">
                  False Position (or) Regula Falsi Method 
                </p>
                The False Position Method (also known as the Regula Falsi Method) is a 
                root-finding algorithm that combines the bisection method and linear 
                interpolation. It is used to find the root of a function 
                f(x)=0. This method is especially useful for continuous functions where 
                a sign change is observed, indicating the presence of a root.
                The False Position Method has its roots in ancient mathematics and was
                known to ancient Egyptians. The method was later formalized in the 16th 
                century and became a common technique for solving equations before the 
                advent of more sophisticated methods. It provided a practical way to 
                approximate solutions of equations when exact solutions were difficult to obtain.
                The false-position method is a modification on the bisection method.
                In mathematics, an ancient method of solving an equation in one variable
                is the false position method or regula falsi
                method. In simple words, the method is described as the trial and error
                approach of using “false” or “test” values for the variable and then 
                ltering the test value according to the result.
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}