{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Backward Difference Exercise {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8 mb-10" style="
    background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');
  ">
    <div class="container mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">BACKWARD METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/numerical calculus/backwardbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/numerical calculus/backward difference/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/exercise"
              class="block text-gray-700 bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
                href="/numerical calculus/backward difference/practice"
                class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
                >Practice</a
            >
        </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">EXERCISE</h3><br>
          </div>
          <div>
            <p>1. Derive the backward difference formula for the first derivative of a function \(f(x)\).</p><br>
            
            <p>2. Explain the main differences between the forward difference and backward difference methods.</p><br>

            <p>3. Use the backward difference method to approximate the second 
            derivative of \( f(x) = e^x \) at  \(x = 1\)  with a step size  \(h = 0.1\)</p><br>

            <p>4. Use the backward difference method to approximate the solution of the ordinary differential equation 
            \(
            \frac{dy}{dx} = y - x,
            \)
            given the initial condition \( y(0) = 1 \), for \( x = 0 \) to  x = 1 with a step size h = 0.1</p><br>

            <p>5. Apply the backward difference method to solve the heat equation 
              \(
              \frac{\partial u}{\partial t} = \alpha \frac{\partial^2 u}{\partial x^2}
              \)
              for \(\alpha = 1\), with initial condition \(u(x,0) = \sin(\pi x)\), and boundary conditions \(u(0,t) = 0\) and \(u(1,t) = 0\).</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}