{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Backward Difference Graph Example {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-32">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">BACKWARD DIFF</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/numerical calculus/backwardbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/numerical calculus/backward difference/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
                href="/numerical calculus/backward difference/practice"
                class="block text-gray-700 bg-gray-200 p-2 rounded"
                >Practice</a
            >
        </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="bracketing">GRAPH</h3>
          </div>
          <div class="background">
            <img
              src="{{url_for('static', filename='imagebisectiongraph.jpg.png')}}"
              alt="bis-graph"
            /><br />
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}