{% extends 'base.html' %} {% block header %}
<h2>{% block title %} LU Decomposition Method {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-36">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">LU DECOMPOSITION METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/linear systems/ludecompbackground" class="block text-gray-700 bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/linear systems/lu decomp/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/linear systems/lu decomp/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/linear systems/lu decomp/solve"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/open/newton/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/linear systems/lu decomp/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
          <div class="container mx-auto">
            <div class="mb-6">
                <h3 class="text-2xl font-semibold">BACKGROUND</h3>
              </div>
              <div>
                <p class="text-xl font-semibold text-red-600 mb-4">
                    LU DECOMPOSITION METHOD
                </p>
                <p class="mb-4">
                  LU decomposition, introduced by mathematician Alan Turing, is a 
                  method in numerical analysis used to solve systems of linear 
                  equations, invert matrices, and compute determinants. It involves 
                  factorizing a given square matrix <strong>A</strong> into the product 
                  of two matrices: a lower triangular matrix <strong>L</strong> and an 
                  upper triangular matrix <strong>U</strong>, such that <strong>A = LU</strong>. 
                  This method is efficient for solving multiple systems of equations with the same 
                  coefficient matrix but different right-hand sides, as it allows one to reuse the 
                  <strong>LU</strong> decomposition. The process begins by performing Gaussian 
                  elimination to transform the matrix <strong>A</strong> into an upper triangular matrix 
                  <strong>U</strong>, while the multipliers used during the elimination are stored in the 
                  lower triangular matrix <strong>L</strong>. LU decomposition is particularly useful in 
                  computational algorithms because it reduces the problem of solving a system of 
                  linear equations to solving two simpler triangular systems, which can be done 
                  efficiently.
                </p>

              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}