{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Newton Example {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8 mb-10" style="
    background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');
  ">
    <div class="container mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">NEWTON METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/open/newtonbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/open/newton/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/open/newton/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/open/newton/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/open/newton/exercise"
              class="block text-gray-700 bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/open/newton/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">EXERCISE</h3><br>
          </div>

          <div class="mx-auto">
            <p>1. Use the Newton-Raphson method to find the root of the equation 
              \( f(x) = x^3 - 2x - 5 \). Start with an initial guess \( x_0 = 2 \). 
              Perform three iterations and provide the approximate root after each 
              iteration.</p><br>
              <p>2. Apply the Newton-Raphson method to find the root of the equation 
                \( f(x) = e^x - 3x \). Use an initial guess of \( x_0 = 1 \). Perform 
                four iterations and provide the results of each iteration.</p><br>
                <p>3. Determine the root of the equation \( f(x) = \cos(x) - x \) using 
                the Newton-Raphson method. Use \( x_0 = 0.5 \) as the initial guess. 
                Continue the iterations until the approximate root converges to a 
                satisfactory level of accuracy.</p><br>
                <p>4. Find the root of the function \( f(x) = x^4 - x - 10 \) using 
                  the Newton-Raphson method with an initial guess \( x_0 = 2 \). 
                  Continue the iterations until the approximate root converges to a 
                  satisfactory level of accuracy.</p><br>
                <p>5. Use the Newton-Raphson method to find the root of the equation 
                  \( f(x) = \sin(x) - 0.5 \). Start with \( x_0 = 0.5 \). Continue 
                  the iterations until the approximate root converges to a satisfactory 
                  level of accuracy.</p>
                  
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}