<div class="practice-page">
  <header class="header">
    <nav class="navbarleft">
      <div class="logo"><a href="#">ALGO</a></div>
      <ul class="navlinks">
        <li><a href="/">HOME</a></li>
        <li><a href="#">SPEED COMPARISON</a></li>
        <li><a href="#">FEEDBACK</a></li>
        <li><a href="#">FORUM</a></li>
      </ul>
    </nav>
    <nav class="navbarright">
      <input type="text" placeholder="Search Problem" class="searchbar" />
      <div class="button">
        <span class="login">LOGIN</span>
      </div>
      <div class="button">
        <span class="signup">Sign Up</span>
      </div>
    </nav>
  </header>
</div>
