{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Secant Method {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8" style="background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');">
    <div class="container mx-auto flex flex-col md:flex-row justify-center mb-36">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">SECANT METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/open/secantbackground" class="block text-gray-700 bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/open/secant/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded text-bold"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/open/secant/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/open/secant/solve"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Solution Finder</a
            >
          </li>
         
          <li>
            <a
              href="/open/secant/exercise"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/open/secant/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
        <div class="bg-white rounded-lg shadow-lg p-8">
          <div class="container mx-auto">
            <div class="mb-6">
                <h3 class="text-2xl font-semibold">BACKGROUND</h3>
              </div>
              <div>
                <p class="text-xl font-semibold text-red-600 mb-4">
                  Secant Method
                </p>
                The secant method is a simple variant of the method of false position in which it is
                no longer required that the function f has opposite signs at the end points of each
                interval generated, not even the initial interval. In other words, one starts with two
                arbitrary initial approximations \(x0 \neq x1\) and continues with <br>
                \[x_{n+1} = x_n - \frac{x_n-x_{n-1}}{f(x_n) - f(x_{n-1})} f(x_n), n = 1,2,3,...\]
                This precludes the formation of a fixed false position, as in the method of false
                positions, and hence suggests potentially faster convergence. On the other hand, we
                can no longer be sure that each interval \([x_{n-1}, xn]\) contains at least one root. It will
                turn out that, if the method converges, it does so with an order of convergence larger
                than 1 (but less than 2). However, it converges only “locally,” that is, only if the
                initial approximations \(x0, x1\) are sufficiently close to a root.
              </div>
            </div>
          </div>
        </div>
      </div>
  </div>
</main>
{% endblock content %}