{% extends 'base.html' %} {% block header %}
<h2>{% block title %} Secant Example {% endblock title %}</h2>
{% endblock header %} {% block content %}
<main class="bg-gray-100 py-8 mb-10" style="
    background-image: url('https://www.transparenttextures.com/patterns/inflicted.png');
  ">
    <div class="container mx-auto flex flex-col md:flex-row justify-center">
        <div class="w-full md:w-1/4 p-4">
            <div class="bg-white rounded-lg shadow-lg p-4">
                <h3 class="text-lg font-bold mb-4">SECANT METHOD</h3>
                <hr class="mb-4" />
                <ul class="space-y-4">
                    <li>
                        <a href="/open/secantbackground" class="block text-gray-700 hover:bg-gray-200 p-2 rounded">Background</a
            >
          </li>
          <li>
            <a
              href="/open/secant/lecturenote"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Lecture Note</a
            >
          </li>
          <li>
            <a
              href="/open/secant/example"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Example</a
            >
          </li>
          
          <li>
            <a
              href="/open/secant/solve"
              class="block hover:bg-gray-200 text-gray-700 p-2 rounded"
              >Solution Finder</a
            >
          </li>
          <li>
            <a
              href="/open/secant/exercise"
              class="block active text-gray-700 bg-gray-200 p-2 rounded"
              >Exercise</a
            >
          </li>
          <li>
            <a
              href="/open/secant/practice"
              class="block text-gray-700 hover:bg-gray-200 p-2 rounded"
              >Practice</a
            >
          </li>
        </ul>
      </div>
    </div>
    <div class="w-full md:w-3/4 p-4">
      <div class="bg-white rounded-lg shadow-lg p-8">
        <div class="container mx-auto">
          <div class="brackbox">
            <h3 class="font-bold text-2xl">EXERCISE</h3>
          </div>
          <div class="background flex flex-wrap justify-center">
            <p>1. Find a root of the equation \(f(x) = x^3 - 6x^2 + 11x - 6\)
            using the Secant Method. Start with the initial guess \( x_0 = 2 \).</p><br><br>
            <p>2. Use the Secant Method to find a root of the function \(
              f(x) = \sin(x) - \frac{x}{2}\) beginning with the initial guess \( x_0 = 1 \).</p><br><br>
            <p>3. Apply the Secant Method to approximate a root of the equation \(f(x) = x^4 - 5x^2 + 4\) starting with the initial guess \( x_0 = 1 \).</p><br><br><br>
            <p>4. Find a root of the function \( f(x) = \tan(x) - x
              \) using the Secant Method. Begin with the initial guess \( x_0 = 0.5 \).</p><br><br>
            <p>5. Use the Secant Method to solve for a root of the equation 
              \(
              f(x) = x^2 - \sqrt{x + 1}
              \) starting with the initial guess \( x_0 = 2 \).
          </div>
        </div>
      </div>
    </div>
  </div>
</main>
{% endblock content %}